URxvt.font: xft:Iosevka Term SS05:size=7
URxvt.scrollBar: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.perl-ext-common: clipboard
URxvt.internalBorder: 32
URxvt.lineSpace: 0
URxvt.letterSpace: 0
URxvt.externalBorder: 0
URxvt.thickness: 0
